@import "variables.scss";

html {
  background-color: $kintamasis;
}

// .container div span:hover {
//   background-color: red;
// }

// .container > span {
//   width: 100%;
//   text-align: center;
//   display: block;
// }

.over-grey {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  background-color: gray;
  opacity: 0.4;
  content: " ";
}

.container {
  div {
    span {
      display: block;
      height: 200px;
      background-color: rebeccapurple;
      &:hover {
        background-color: red;
      }
      &:after {
        @extend .over-grey;
        content: " ";
      }
    }
  }
  & > span {
    width: 100%;
    &:after {
      @extend .over-grey;
      content: " ";
      background-color: aqua;
    }
    text-align: center;
    display: block;
  }
}
